.detailsMovie {
    width: 100%;
    min-height:calc(100vh - 60px);
    display: flex;
    color: white;

}
.cargando {
    color: white;
    font-size: 40px; 
    text-align: center;
}
.arrow-left {
    position: absolute;
    top: 65px;
    left: 10px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.detailsMovie-img {
    height: 100%;
}
.details-section {
    width: 70%;
    min-height: 60vh;
    padding: 30px;

}
.movie-title {
    font-size: 30px;
    padding:0 12px 12px 0;
    
}
.details-section ul {
    list-style: none;
}

.container-genero {
    width: 35%;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;

}
.container-subtitle {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-bottom: 8px;
}
.container-subtitle h4,
.container-subtitle h5 {
    padding-right: 12px;
}
.container-subtitle span {
    color: #DA0037;
}

.container-genero li {
    margin-right: 4px;
    padding: 5px;
    border: 1px solid #DA0037;
    border-radius: 4px;
    color: #DA0037;
    font-size: 12px;
}
.cont-one {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
 

}
.cont-one h5 span {
    font-size: 50px;
    color: #f8d486;
}
.cont-one h5 {
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f8d486;
    border-radius: 8px;
}
@media (max-width:800px) {
    .detailsMovie {
        flex-direction: column;
    }
    .details-section {
        width: 100%;
    }
    .detailsMovie-img  {
        width: 100vw;
    }
}